<footer>
    <div class="adres">
        <h4>Zapraszamy do bazaru stacjonarnie!</h4>
        <p><i class="fa-solid fa-location-dot"></i>Adres: Bazarowa 1 Szczecin</p>
        <p><i class="fa-solid fa-clock"></i>Godziny otwarcia: Pon-Pt 8:00-18:00, Sob 8:00-14:00</p>
    </div>
    <div class="contact">
        <h4>Kontakt</h4>
        <p><i class="fa-solid fa-phone"></i> 500 100 100</p>
        <p><i class="fa-solid fa-envelope"></i> bazaruzdzicha@email.com</p>
        <div class="social-icons">
            <a href="facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="instagram.com"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <h3>&copy;2025 Bazar u Zdzicha. Wszystkie prawa zastrzezone</h3>
</footer>