<header>
    <h1><%= title %></h1>
    <p>Świetna jakość w przystępnej cenie</p>
</header>

<nav>
    <ul class="left-menu">
        <li><a href="/">Strona Głowna</a></li>
        <li><a href="/products">Produkty</a></li>
    </ul>
    <ul class="right-menu">    
        <li class="cart1"><a class="cart1" href="/koszyk"><i class="fa-solid fa-cart-shopping"></i>(<span class="cart-count" id="cart-count">0</span>)</a></li>
    </ul>
</nav>